<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Connectly Iframe demo</title>

        <!-- Replace p2p.Connectly.com with YOUR-DOMAIN-NAME -->
        <script src="https://p2p.connectly.com/js/iframe.js" defer></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const domain = 'p2p.Connectly.com'; // YOUR-DOMAIN-NAME
                const options = {
                    room: 'test',
                    name: 'Connectly',
                    avatar: 'https://p2p.Connectly.com/images/Connectly-logo.png',
                    audio: 0,
                    video: 0,
                    screen: 0,
                    hide: 0,
                    notify: 0,
                    token: null,
                    width: '100vw',
                    height: '100vh',
                    parentNode: document.querySelector('#meet'),
                }; // https://docs.Connectly.com/Connectly-p2p/join-room/
                const api = new IframeApi(domain, options);
            });
        </script>
    </head>
    <body>
        <div id="meet"></div>
    </body>
</html>
